<div class="row">
    <div class="col-md-4">
        <img class="img-responsive center-block"
            src="{{users.img}}"
            style="width: 370px;margin-bottom: 25px;">
    </div>

    <div class="col-md-8">
        <h1>{{users.name}}</h1>
        <p>{{users.email}}</p>
        <a class="btn btn-primary" href="/users/{{users.id}}/edit">Edit</a>
    </div>
</div>